<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Username
      <input placeholder="Username" type="text" formControlName="username">
    </label>
    <ng-container *ngIf="username.touched">
      <span *ngIf="username.errors?.required || username.errors?.minlength">Username must be at least 4 characters
        long</span>
    </ng-container>
  </div>
  <div>
    <label>
      Password
      <input placeholder="Password" type="password" formControlName="password">
      <ng-container *ngIf="password.touched">
        <span *ngIf="password.errors?.required || password.errors?.minlength">Password must be at least 4 characters
          long</span>
        <span *ngIf="password.warnings?.strength === 'weak'">Password is weak</span>
        <span *ngIf="password.warnings?.strength === 'medium'">Password is medium</span>
      </ng-container>
    </label>
  </div>
  <div>
    <label>
      Password confirm
      <input placeholder="Password confirm" type="password" formControlName="passwordConfirm">
      <ng-container *ngIf="passwordConfirm.touched && !password.errors">
        <span *ngIf="form.errors?.passwordsNotMatch">Passwords do not match</span>
      </ng-container>
    </label>
  </div>
  <div>
    <label>
      Display name
      <input placeholder="Display name" type="text" formControlName="displayName">
      <ng-container *ngIf="displayName.touched">
        <span *ngIf="displayName.errors?.required">Display name is required</span>
      </ng-container>
    </label>
  </div>
  <button type="submit">Send</button>
</form>
