<form>
  <div>
    <label>
      Username
      <input placeholder="Username" type="text">
    </label>
  </div>
  <div>
    <label>
      Password
      <input placeholder="Password" type="password">
    </label>
  </div>
  <div>
    <label>
      Password confirm
      <input placeholder="Password confirm" type="password">
    </label>
  </div>
  <div>
    <label>
      Display name
      <input placeholder="Display name" type="text">
    </label>
  </div>
  <button type="submit">Send</button>
</form>