<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Username
      <input placeholder="Username" type="text" formControlName="username">
    </label>
  </div>
  <div>
    <label>
      Password
      <input placeholder="Password" type="password" formControlName="password">
    </label>
  </div>
  <ul *ngIf="form.touched">
    <li *ngIf="username.errors?.required">
      Username is required
    </li>
    <li *ngIf="password.errors?.required">
      Password is required
    </li>
    <li *ngIf="form.errors?.invalidLogin">
      Invalid login credentials
    </li>
  </ul>
  <button type="submit">Send</button>
</form>
